<div class="hover-card">
	<ng-container *ngFor="let tab of tabs">
		<div
			class="hover-card__item item-hover-card"
			#hoverCard
			HoverCard
			[defaultColor]="tab.colorRGBA"
			[hoverColor]="tab.hoverColorRGBA"
			(click)="tab.callback()"
			(mouseenter)="tab.hovered = true"
			(mouseleave)="tab.hovered = false"
		>
			<div class="item-hover-card__body">
				<p [ngClass]="tab.hovered ? tab.icons?.at(0) : tab.icons?.at(1)">
					{{ tab.title }}
				</p>
			</div>
		</div>
	</ng-container>
</div>
