<div class="user" [class._active]="isDropdownActive">
	<div class="user__name _icon-filled-user" (click)="toggleDropdown()">
		{{ authService.user?.name }} <span></span>
	</div>
	<div class="user__dropdown dropdown">
		<div class="dropdown__body">
			<ul class="dropdown__list">
				<ng-container *ngFor="let dropdown of dropDownList">
					<li class="dropdown__item">
						<a
							[routerLink]="dropdown.route"
							class="dropdown__link"
							(click)="scrollTop()"
							>{{ dropdown.title }}</a
						>
					</li></ng-container
				>

				<li class="dropdown__item">
					<a
						routerLink="/"
						class="dropdown__link logout"
						(click)="authService.logout()"
						>Log out</a
					>
				</li>
			</ul>
		</div>
	</div>
</div>
