<section class="auth">
	<div class="container">
		<div class="auth__content">
			<div class="auth__body">
				<div class="auth__cols">
					<div class="auth__left left-auth">
						<div class="left-auth__router">
							<router-outlet />
						</div>

						<div class="left-auth__footer">
							<a href="#" class="left-auth__privacy">Privacy Policy</a>
							<a href="#" class="left-auth__copyright">Copyright 2022</a>
						</div>
					</div>

					<div class="auth__right right-auth">swiper</div>
				</div>
			</div>
		</div>
	</div>
</section>
