<section class="our-pricing">
	<div class="container">
		<div class="our-pricing__content">
			<div class="our-pricing__body">
				<h2 class="our-pricing__title title-h2 _icon-spiral-arrow">
					Our Pricing
				</h2>
				<div class="our-pricing__img">
					<img src="assets/img/pricing/01.png" alt="eatly web app" />
					<div class="_icon-waves2 wave1"></div>
					<div class="_icon-waves2 wave2"></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="pricing">
	<div class="container">
		<div class="pricing__content">
			<div class="pricing__body">
				<div class="pricing__top top-pricing line">
					<div class="top-pricing__item item-top-pricing">
						<h3 class="item-top-pricing__title title-h3">Pricing</h3>
						<p class="item-top-pricing__desc">Affordable Basic & Pro Plans</p>
					</div>
					<div class="top-pricing__item item-top-pricing">
						<h3 class="item-top-pricing__title title-h3">Basic</h3>
						<p class="item-top-pricing__desc">Completely 100% Free Plan</p>
					</div>
					<div class="top-pricing__item item-top-pricing">
						<h3 class="item-top-pricing__title title-h3">Premium</h3>
						<p class="item-top-pricing__desc">Amazing Premium Features Plan</p>
					</div>
				</div>

				<div class="pricing__prices prices-pricing line">
					<div class="prices-pricing__item item-prices-pricing"></div>
					<div class="prices-pricing__item item-prices-pricing">
						<span class="item-prices-pricing__dollar">$</span>
						<p class="item-prices-pricing__price">0</p>
						<span class="item-prices-pricing__period">/month</span>
					</div>
					<div class="prices-pricing__item item-prices-pricing">
						<span class="item-prices-pricing__dollar">$</span>
						<p class="item-prices-pricing__price">5</p>
						<span class="item-prices-pricing__period">/month</span>
					</div>
				</div>

				<div class="pricing__features features-pricing line">
					<h3 class="features-pricing__title">Core features</h3>
					<ul class="features-pricing__list list-features-pricing">
						<li class="list-features-pricing__item item-features-pricing">
							<p class="item-features-pricing__text">Support 24/7</p>
							<span class="item-features-pricing__mark mark"></span>
							<span class="item-features-pricing__mark cross"></span>
						</li>
						<li class="list-features-pricing__item item-features-pricing">
							<p class="item-features-pricing__text">Fast Delivery</p>
							<span class="item-features-pricing__mark cross"></span>
							<span class="item-features-pricing__mark mark"></span>
						</li>
						<li class="list-features-pricing__item item-features-pricing">
							<p class="item-features-pricing__text">20% Off Food Deals</p>
							<span class="item-features-pricing__mark mark"></span>
							<span class="item-features-pricing__mark mark"></span>
						</li>
					</ul>
				</div>

				<div class="pricing__btns btns-pricing">
					<div class="btns-pricing__btn"></div>
					<div class="btns-pricing__btn">
						<a class="btns-pricing__btn btn btn_filled">start free</a>
					</div>
					<div class="btns-pricing__btn">
						<a class="btns-pricing__btn btn btn_filled">start Pro</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
