<div class="restaurant-card">
	<div class="restaurant-card__content">
		<app-hover-card *ngIf="hasHover" [tabs]="tabs" />
		<div class="restaurant-card__body" (click)="goToRestaurant()">
			<div class="restaurant-card__img">
				<img [src]="restaurant.urlToImg" alt="restaurant img" />
			</div>

			<div class="restaurant-card__block block-card">
				<span
					class="block-card__tag"
					[ngClass]="setTagStyle(restaurant.tag || '')"
					>{{ restaurant.tag }}</span
				>
				<h3 class="block-card__title">{{ restaurant.title }}</h3>
				<div class="block-card__info info-block-card">
					<app-card-aditional-info
						[time]="restaurant.time"
						[rating]="restaurant.rating"
					/>

					<div class="info-block-card__bookmark" #bookmark>
						<app-bookmark
							[bookmarked]="bookmarked"
							[restaurantId]="restaurant.id"
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
