@use "src/scss/variables" as v;

.items {
	padding-top: 25px;
	padding-bottom: 25px;
	// .items__content

	&__content {
	}

	// .items__body

	&__body {
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .items__cards
}
