<div class="cards" [style.grid-template-columns]="'repeat(' + cols + ', 1fr)'">
	<ng-container *ngFor="let item of items">
		<ng-container [ngSwitch]="type">
			<ng-container *ngSwitchCase="types.restaurants">
				<app-restaurant-card [restaurant]="item" />
			</ng-container>
			<ng-container *ngSwitchCase="types.bookmarkedRestaurants">
				<app-restaurant-card [restaurant]="item" />
			</ng-container>
			<ng-container *ngSwitchCase="types.ownRestaurants">
				<app-restaurant-card [restaurant]="item" />
			</ng-container>
			<ng-container *ngSwitchCase="types.dishes">
				<app-dish-card [dish]="item" />
			</ng-container>
		</ng-container>
	</ng-container>
</div>
