@use "src/scss/variables" as v;
.cards {
	// .card__content

	&__content {
		padding-top: 100px;
		padding-bottom: 120px;
	}

	// .card__body

	// .card__title

	&__title {
		text-align: center;
		&.type2 {
			text-align: left;
			font-size: 35px;
		}
	}

	// .card__cards

	&__items {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 30px;
	}
}
.view-all {
	display: flex;
	justify-content: flex-end;
	&__text {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		flex-direction: row-reverse;
		gap: 20px;
		color: v.$color-text-secondary;
		font-size: 20px;
		font-weight: 500;
		line-height: 45.18px;
		letter-spacing: -0.1px;
		margin-top: 65px;
		transition: all 0.3s ease 0s;
		&.type2 {
			margin-top: 0;
		}
		&:hover {
			color: v.$color-text-main;
		}
	}
}
.top-cards {
	margin-bottom: 85px;
	&.type2 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 75px;
	}
}
