<section class="cards">
	<div class="container">
		<div class="cards__content line">
			<div class="cards__body">
				<ng-container *ngIf="!left; else type2">
					<div class="card__top top-cards">
						<h3 class="cards__title title-h3">Our Top <span>Dishes</span></h3>
					</div>
				</ng-container>

				<div class="cards__items">
					<ng-container *ngFor="let dish of dishes$ | async"
						><app-dish-card [dish]="dish"
					/></ng-container>
				</div>
				<div *ngIf="!left" class="cards__view-all view-all">
					<a (click)="goToAllDishes()" class="view-all__text _icon-arrow-right"
						>View All</a
					>
				</div>
			</div>
		</div>
	</div>
</section>

<ng-template #type2>
	<div class="card__top top-cards type2">
		<h3 class="card__title title-h3 type2">Our Top <span>Restaurants</span></h3>
		<a (click)="goToAllDishes()" class="view-all__text _icon-arrow-right"
			>View All</a
		>
	</div>
</ng-template>
