<section class="profile-restaraunt">
	<div class="container">
		<div class="profile-restaraunt__content">
			<div class="profile-restaraunt__body">
				<div class="profile-restaraunt__my-restaraunts my-restaraunts">
					<app-items-with-pagination
						[hasHover]="true"
						[title]="'My Own <span>Restaurants</span>'"
						[type]="types.ownRestaurants"
					/>

					<a
						(click)="goToCreateNew()"
						class="my-restaraunts__btn btn btn_filled"
						>Create New</a
					>
				</div>
				<div class="profile-restaraunt__bookmarked bookmarked-restaurants">
					<app-items-with-pagination
						[title]="'My Bookmarked <span>Restaurants</span>'"
						[type]="types.bookmarkedRestaurants"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
