<header class="header" #header>
	<div class="container">
		<div class="header__content line">
			<div class="header__body">
				<app-logo />
				<div class="header__menu menu">
					<button type="button" class="menu__icon icon-menu">
						<span></span>
					</button>
					<nav class="menu__body">
						<ul class="menu__list">
							<li class="menu__item" *ngFor="let nav of navList">
								<a
									[routerLink]="nav.route"
									routerLinkActive="_active"
									[routerLinkActiveOptions]="{ exact: true }"
									class="menu__link"
									>{{ nav.title }}</a
								>
							</li>
						</ul>
					</nav>
				</div>

				<ng-container *ngIf="!authService.checkAuth(); else auth">
					<div class="header__btns btns-header">
						<a routerLink="auth/login" class="btns-header__item btn btn_trans"
							>Login</a
						>
						<a routerLink="auth/register" class="btns-header__item btn"
							>Sign up</a
						>
					</div>
				</ng-container>

				<ng-template #auth>
					<div class="auth">
						<div
							class="auth__cart cart-auth _icon-shopping-cart"
							(click)="sideCartService.isActive = true"
						>
							<span *ngIf="sideCartService.productsCount > 0">{{
								sideCartService.productsCount
							}}</span>
						</div>
						<app-user-auth-field />
					</div>
				</ng-template>
			</div>
		</div>
	</div>
</header>
