$color-text-main: #606060;
$color-text-secondary: #999999;
$color-text-tertiary: #718096;
$color-text-dark-main: #201f1f;

$bg-color-main: #eaeaea;
$bg-color-secondary: #323142;
$bg-color-tertiary: #f5f5f5;

$color-line: #cbcbcb;

$color-main: #6c5fbc;
$hilite-color-main: #c5bfed;
$hilite-color-secondary: #a89fca;
$dim-color-main: #443b81;
