@use "src/scss/variables" as v;
.auth {
	// .auth__container

	&__container {
		max-width: 400px;
		margin: 0 auto;
	}

	// .auth__title

	&__title {
		color: v.$bg-color-secondary;
		font-size: 35px;
		font-weight: 600;
		line-height: 125%;
		letter-spacing: -4%;
		text-align: center;
		margin-bottom: 48px;
	}

	// .auth__services

	&__services {
		margin-bottom: 33px;
	}

	// .auth__or

	&__or {
		color: rgba(0, 90, 100, 0.35);
		font-size: 20px;
		font-weight: 500;
		line-height: 30px;
		letter-spacing: 3%;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 42px;
	}

	// .auth__form

	&__form {
	}

	// .auth__text

	&__text {
		color: v.$color-text-main;
		font-size: 19px;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 1%;
		text-align: center;
		a {
			cursor: pointer;
			color: v.$color-main;
			font-weight: 700;
		}
	}
}

.services-auth {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	// .services-auth__item

	&__item {
		cursor: pointer;
		padding: 10px 0px;
		background-color: v.$bg-color-tertiary;
		text-align: center;
		font-size: 20px;
		border-radius: 15px;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: v.$bg-color-main;
		}
	}
}

.form-auth {
	display: flex;
	flex-direction: column;
	margin-bottom: 23px;

	&__error {
		display: block;
		padding: 10px 20px;
		color: red;
	}
	&-icon-password {
		cursor: pointer;
		transition: all 0.3s ease 0s;
		&:hover {
		}
		&.show-password {
			transform: scale(1.2);
		}
	}
	// .form-auth__control

	&__control {
	}

	// .form-auth__icon

	&__icon {
		display: inline-block;
		width: 25px;
		font-size: 15px;
		text-align: center;
		color: v.$color-text-secondary;
	}

	// .form-auth__input

	&__input {
		color: v.$bg-color-secondary;
		font-size: 16px;
		font-weight: 600;
		line-height: 25px;
		letter-spacing: 7%;
		background-color: transparent;
		&::placeholder {
			color: v.$color-text-secondary;
			text-transform: uppercase;
		}
	}
}
.control-form-auth {
	&:not(:last-child) {
		margin-bottom: 25px;
		&.error {
			margin-bottom: 10px;
		}
	}
	&__body {
		cursor: text;
		padding: 15px;
		background-color: v.$bg-color-tertiary;
		border-radius: 15px;
		display: flex;
		align-items: center;
		gap: 45px;
		transition: all 0.3s ease 0s;
		border: 1px solid transparent;
		&:hover {
			background-color: v.$bg-color-main;
		}
		&._active {
			border: 1px solid v.$color-main;
			.form-auth__input,
			.form-auth__icon {
				color: v.$color-main;
			}
		}
	}
	small {
		display: block;
		padding: 10px 20px;
		color: red;
	}
}
